@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: jost, Arial, Helvetica, sans-serif;
}

.admin {
  @apply relative flex flex-col justify-center items-center bg-[rgb(44,38,56)] px-2 w-full gap-2;
}

.admin__container {
  @apply w-full px-4;
}

.admin__title {
  @apply text-2xl py-4;
}

.button {
  @apply relative w-full flex justify-center items-center gap-2 cursor-pointer rounded-[6px] my-2 p-2;
}

.date{
@apply relative text-sm flex flex-col py-1 justify-center w-[50%] lg:w-full rounded-[6px] bg-zinc-100 border-[1px];
}

.date__button{
 @apply flex px-[8px] w-full items-center justify-between
}

.dropdown{
  @apply relative text-sm w-full;
}

.dropdown__button{
@apply  w-full flex justify-between items-center rounded-[4px] p-1 bg-white
}

.dropdown__info{
  @apply flex-col absolute z-[3] top-[110%] h-[10em] w-full border-[2px] bg-white rounded-[4px];
}

.dropdown__search{
  @apply border rounded-[4px] p-1 w-full
}

.header {
  @apply flex flex-col lg:flex-row gap-4 justify-between items-center w-full p-4 bg-white rounded-[6px];
}

.header__title {
  @apply text-[rgb(44,38,56)] text-xl font-[500] w-full;
}

.header__user {
  @apply w-full lg:w-[20%] text-[rgb(44,38,56)] gap-4 flex items-end;
}

.input {
  @apply bg-[rgb(60,54,76)] px-2 py-1 text-sm w-full rounded-[6px] focus:outline-[rgba(255,255,255,0.8)] focus:outline-[1px];
}

.input__reg {
  @apply bg-zinc-100 px-2 py-1 text-sm w-full rounded-[6px] border-[1px] border-[rgb(60,54,76)] focus:outline-[rgba(255,255,255,0.8)] focus:outline-[1px];
}

/* .loadingClass{
  @apply transition opacity-100 duration-1000;
} */

.load__anim {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load__box {
  width: 8px;
  margin: 0 4px;
  background-color: #3498db;
  animation: wave 1.5s infinite ease-in-out;
}

.load__box:nth-child(2) {
  animation-delay: 0.2s;
}

.load__box:nth-child(3) {
  animation-delay: 0.4s;
}

.load__box:nth-child(4) {
  animation-delay: 0.6s;
}

.load__background{
  @apply transition-opacity duration-1000 z-[5] left-0 top-0 flex justify-center items-center w-full bg-[rgb(60,54,76)];
}

.login {
  @apply flex flex-col justify-center items-center bg-[rgb(44,38,56)] p-2 h-[100vh] w-full gap-2;
}

.line {
  @apply h-[1px] bg-white w-[20%] border-none;
}

.photo_upload {
  @apply flex w-[120px] h-[120px] rounded-[6px] border-[2px] border-white border-dashed overflow-hidden;
}

.photo_upload:hover {
  border-color: chartreuse;
}

.register {
  @apply relative flex flex-col justify-center items-center bg-[rgb(44,38,56)] px-2 w-full gap-2;
}

.register__container {
  @apply w-full lg:px-0 lg:w-[50%];
}

.register__title {
  @apply text-2xl py-4 px-5;
}

.register__form {
  @apply flex flex-col rounded-[6px] py-10 px-5 gap-4 w-[100%] bg-white text-black;
}

/* #loginPass::-ms-reveal {
  filter: invert(100%);
} */

.select{
@apply bg-zinc-100 px-2 py-1 text-sm w-[50%] lg:w-full rounded-[6px] focus:outline-[rgba(255,255,255,0.8)] focus:outline-[1px]; 
}

select {
  appearance: none; /* Remove the default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/svg/down-arrow-black.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

.signup {
  @apply flex flex-col lg:flex-row bg-[rgb(44,38,56)] p-2 h-[100vh] w-full gap-2;
}

.signup__container {
  @apply relative flex-col w-full lg:w-[50%] h-full rounded-[6px] overflow-hidden;
}

.signup__container__info {
  @apply flex flex-col px-10;
}

.signup__container__info__title {
  @apply text-4xl my-4;
}

.signup__form {
  @apply flex flex-col rounded-[6px] py-10 gap-4 w-[100%];
}

.signup__form__group {
  @apply flex flex-col md:flex-row gap-4 w-full;
}

.signup__form__google {
  @apply flex flex-col gap-2  w-full;
}

.signup__form__item {
  @apply w-[50%];
}

.signup__form__photo {
  @apply flex w-full justify-end items-center;
}

.signup__form__photo__content {
  @apply flex w-[100%] justify-end gap-4 lg:gap-6;
}

.signup__form__title {
  @apply py-2 font-[500];
}

.signup__form__text {
  @apply flex w-full justify-center items-center gap-2;
}

.signup__form__google__button {
  @apply w-full;
}

.slide {
  @apply relative bg-gradient-to-b from-[rgba(53,20,101,0.9)] to-[rgb(44,38,56)] flex flex-col w-full lg:w-[50%] lg:h-full items-center rounded-[6px] lg:overflow-hidden;
}

.table-container {
  min-height: 100vh;
  overflow-x: auto;
  color: #000;
  /* background-color: #d0d0d0; */

}

table {
  border-collapse: collapse;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  background-color: #f2f2f2;
  /* min-width: 600px; */
}

table th, table td {
 @apply border-[1px] border-[#ddd] p-[8px] text-left;
}

tr{
  @apply hover:bg-[#d0d0d0] cursor-pointer;
}

table th {
  background-color: #9e9e9e;
}

.upload__image{
  @apply absolute left-0 top-0 w-full h-full
}

.uploadbox {
  padding: 2px;
  border: 1px dashed #999;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.uploadbox:hover {
  border-color: chartreuse;
}

@keyframes wave {
  0%, 100% {
    height: 30px; /* Minimum height */
  }
  50% {
    height: 70px; /* Maximum height */
  }
}